* {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: 'Franklin Gothic';    
    font-size: 2.25vw;
    color: black;
    
  }

body {
    background: white;  

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      
}

.score_area {
    grid-area: score_area;       
    background: white;
    margin-top: 4%;
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.a_seat {
    grid-area: a_seat; 
    background: white;
    margin-left: 1%;  
    margin-right: 1%;
    width: auto; 
    height: auto;
}

.current_turn {
    
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;

}

.player_score_header { /* seat buttons */
    grid-area: player_score_header;        
    background: gold;
    width: 100%;
    height: 30%;    
    border-radius: 15px 15px 0px 0px;
    border-width: 0px;    
    white-space: normal;
    word-wrap: break-word;       
    font-size: 2vw;
    
}

.player_score_textarea { /* score boards holder */
    grid-area: player_score_textarea;    
    background: gold;    
    width: 100%;        
    height: 70%;     
    border-radius: 0px 0px 15px 15px;
    border-width: 0px;            
}

.score_board {
    background: gold;
    border-style: hidden;
    resize: none;  
    width: 80%;
    height: 80%;
    margin-top: 4%;
    margin-left: 9%;

    font-size: 3vw;

    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;

}

.reset_game {
    background: lightcoral;
    border-radius: 15px;
    border-width: 1px;
    margin-top: 80%;
    width: 100%;
    height: 60%;    
    font-size: 1.5vw;
}

.btnSeatedPlayer {
    background: gold;       
}

.btnOpenPlayer {
    background: lightgreen;
    opacity: 50%;
}



.main_container {
    user-select: none;     
    display: grid;
    width: 100vmin;
    height: auto;
    margin: .5%;
    padding: .5%;

    border-style: solid;
    border-radius: 4px;
    border-width: 5px;
    border-color: black;
    
    
    grid-template-columns: 100vmin;
    grid-template-rows: 100vmin 10vmin 15vmin 5vmin;
    
    grid-template-areas:      
      "board_area"
      "player_area"
      "score_area" 
      "other_player_rack";
}

.board_area {
    display: grid;
    grid-area: board_area;
    border-style: solid;
    border-radius: 4px;
    border-width: 8px;
    border-color: maroon;
    background-color: white;
    width: auto;
    height: auto;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    padding: 8px;             
}

.player_area {    
    grid-area: player_area;
    padding: 1%;
    margin-top: 2%;    
    display: grid;    
    background-color: white;
    width: 98%;
    height: 85%;
    grid-template-columns: 2fr repeat(10, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    padding: 8px;    
}

.bag_dropzone {
    background-color: rosybrown;
    text-align: center;           
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: rosybrown;    
}


.letter_dropzone {
    /* the placeholder tile div on the board and player rack */
    background-color: beige;  
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: beige;      
}

.letter_tile {
    position: relative;
    z-index: 999;    
    width: 100%;
    height: 100%;    
}

.rack {
    visibility: visible;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rosybrown;    
}

.other_player_rack {
    grid-area: other_player_rack;
    visibility: hidden;
    width: 0;
    height: 0; 
}

.popup_main_playername {
    background: beige;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    width: 70%;
    height: 30%;    

    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);     
    
    
    z-index: 1000;
}

.popup_main_swap {
    background: beige;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    width: 70%;
    height: 30%;    

    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);     
    
    font-size: 4vw;
    z-index: 1000;
}

.popup_playername_input {
    background: beige;
    width: 60%;
    height: 50%;      
    font-size:6vw;
    
    outline: none;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;

    position: absolute;
    top: 50%;
    left: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);      
}


.popup_playername_button_okay {
    background: green;
    width: 20%;
    height: 30%;   

    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;

    position: absolute;
    top: 10%;
    left: 75%;
}

.popup_playername_button_cancel {
    background: red;    
    width: 20%;
    height: 30%;   

    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;

    position: absolute;
    top: 50%;
    left: 75%;    
}


.popup_swaptilesholder{
    background: beige;

    display: inline-flex;
    
    width: 90%;
    height: 80%; 
    margin-top: 5%;
    margin-left: 5%;
    
    
}

.popup_swaptile_tiles {        
    background-color: white;    
    width: 10%;
    height: 28%;

    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rosybrown; 

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 8px;      
    
       
        
}

.popup_swap_button_swap {
    background: green;
    width: 20%;
    height: 30%;   

    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;

    position: absolute;
    top: 60%;
    left: 25%; 
}

.popup_swap_button_cancel {
    background: red;    
    width: 20%;
    height: 30%;   

    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;

    position: absolute;
    top: 60%;
    left: 55%;    
}

.center {
    background-color: pink;    
    background-image: url(/images/board/center.png);       
    background-size: 100% 100%;    
}

.tw {
    background-color: rgb(247, 31, 31);
    background-image: url(/images/board/tw58.png);
    background-size: 100% 100%;     
    
}

.tl {
    background-color: skyblue;
    background-image: url(/images/board/tl58.png);
    background-size: 100% 100%;

}

.dw {
    background-color: pink;
    background-image: url(/images/board/dw58.png);
    background-size: 100% 100%;
}

.dl {
    background-color: lightcyan;
    background-image: url(/images/board/dl58.png);
    background-size: 100% 100%;
}

.hold {
    border: solid 15px #ccc;
}

.click_dashed_border {
    border-color: black;
    border-style: dashed;
    border-width: 2px;
}

.hovered {
    border-color: black;
    border-style: dashed;
    border-width: 2px;
}

.letter_drag {
    opacity: 30%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}